@font-face {
    font-family: 'iconfont';
    /* Project id 2468015 */
    src: url('//at.alicdn.com/t/font_2468015_kk14jksaiz9.woff2?t=1620620845803') format('woff2'),
        url('//at.alicdn.com/t/font_2468015_kk14jksaiz9.woff?t=1620620845803') format('woff'),
        url('//at.alicdn.com/t/font_2468015_kk14jksaiz9.ttf?t=1620620845803') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}