@font-face {
    font-family: 'iconfont';  /* project id 2468015 */
    src: url('//at.alicdn.com/t/font_2468015_mw51ggkutd.eot');
    src: url('//at.alicdn.com/t/font_2468015_mw51ggkutd.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2468015_mw51ggkutd.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2468015_mw51ggkutd.woff') format('woff'),
    url('//at.alicdn.com/t/font_2468015_mw51ggkutd.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2468015_mw51ggkutd.svg#iconfont') format('svg');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}