<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lesson13</title>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script crossorigin="anonymous"
        integrity="sha512-0S1Z4iGuXAsDTvbchysUduts51Ef0IXJnNeNsa9D7W+cotLVA/TJaN9xnipOLL+0Y2lkH+7Xbd8qJB1RIvEleQ=="
        src="https://lib.baomitu.com/vue/3.0.5/vue.global.js"></script>
</head>

<body>
    <div id="root"></div>
</body>
<script>
    //双向绑定
    //input textarea checkbox,radio select
    const app = Vue.createApp({
        data() {
            return {
                inputItem: "hello",
                textAreaItem: "hello",
                checkBoxItem: [],
                radioItem: '',
                selectItem: [],
                options: [{
                    text: 'A',
                    value: 'A',
                    value: {
                        value: 'A' //另一种写法
                    },
                }, {
                    text: 'B',
                    value: 'B',
                }, {
                    text: 'C',
                    value: 'C',
                }]
            }
        },
        template: `
        {{inputItem}}
         <input v-model="inputItem"/>
         <br/>

         {{textAreaItem}}
         <textarea v-model="textAreaItem"/>

         <div>
         {{checkBoxItem}}
         gzw<input type="checkbox" v-model="checkBoxItem" value="gzw"/>
         哈哈<input type="checkbox" v-model="checkBoxItem" value="哈哈"/>
         吼吼<input type="checkbox" v-model="checkBoxItem"value="吼吼"/>
        </div>

        <div>
         {{radioItem}}
         gzw<input type="radio" v-model="radioItem" value="gzw"/>
         哈哈<input type="radio" v-model="radioItem" value="哈哈"/>
         吼吼<input type="radio" v-model="radioItem"value="吼吼"/>
        </div>

        <div>
        {{selectItem}}
            <select v-model="selectItem" multiple> 
                <option disabled value="" >请选择内容</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>        
        </div>

         <div>
        {{selectItem}}
            <select v-model="selectItem" multiple> 
                <option v-for="item in options" :value="item.value">{{item.text}}</option>
            </select>        
        </div>
        `
    })
    const vm = app.mount('#root')
</script>

</html>